<body>

    <form action="#" method="post" class="miform" >
    
      
      
      <fieldset>
        <legend><span class="number">R</span>Registrate</legend>
        <!--
        <label for="name">Name:</label>
        <input type="text" id="name" name="user_name">
        -->
        
        <label for="mail">Email:</label>
        <input type="email" id="mail" name="user_email" [(ngModel)]="this.email" >
        
        <label for="password">Password:</label>
        <input type="password" id="password" name="user_password" [(ngModel)]="this.password" >
        
       
      </fieldset>
      
      
     
      <!-- <button type="submit" >Registrarme   </button> -->
      <button class="btn btn-warning" type="button"   (click)="Registrarse()"   >Registrarme</button> 
      
      <br>
      <p *ngIf="responseMessage" class="ErrorLogin" >{{responseMessage}}</p>
     
   </form>
    
  </body>