


 <div class="container-fluid" style='height:100%; width:100%;'>

<div class="row" >

    <div class="col text-center">

        <br>
        <div> <h3> Puntaje Acumulado {{this.puntajeAcumulado}} </h3> <br> </div>
        <!---------IMAGEN ----------->
            <div> 

            <img src= '/../../assets/ahorcado/img{{this.nroImagen}}.png' style="height: 30%; width: 30%;" >
            
        </div>


        <button class="btn btn-primary" class="btn1" *ngIf="!empezo "  (click)="comenzar()" type="button">Jugar</button>
        
       <div *ngIf="empezo">
        <div   *ngFor="let item of palabraGuiones"  class="d-inline">
            <h1 class="d-inline p-2">{{item}}</h1>
            
        </div>
        </div>
        
        
    </div>
</div>



<div class="row" >
    <div class="col text-center">
        <button  class="letras"  *ngFor="let letra of letras" class="btn btn-success" (click)="tomarLetra(letra)"> {{ letra }} </button>
    </div>
</div>

<br> <br>


</div>