

    <main>
        <div class="container py-4">
        
      
          
            <div class="container-fluid py-5">
              <h1 class="display-5 fw-bold">Bienvenido a la Sala de Juegos</h1>
              <br>
              <div class="card" >
                <img class="card-img-top" src="../../../assets/imagenes/cohete.jfif" alt="">
                <div class="card-body">
                  <h5 class="card-title">Tp LaboIV</h5>
                  <p class="card-text">Content</p>
                </div>
                <img class="card-img-bottom" src="" alt="">
               
              </div>
              
              
            

            </div>

          
        </div>
        
         
      </main>











    

  