
      <body>
    
  
    
   
    
    
    
        <div class="album py-5 ">
          <div class="container">


            <h1 >Puntaje  </h1>
      
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
             
             
              <!--    --------------       AAHORCADO  ---------------     -->
              <div class="col">
                <div class="card shadow-sm">
                 <!-- <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"  role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text></svg>-->
                  <img src="../../../assets/imagenes/ahorcado.jpg">
                  <div class="card-body">
                    <p class="card-text">Ahorcado</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary" [routerLink]="['ahorcado']">Ir</button>
                        
                      </div>
                      <small class="text-muted"></small>
                    </div>
                  </div>
                </div>
              </div>
  
  
               <!--    --------------       MAYOR MENOR  ---------------     -->
              <div class="col">
                <div class="card shadow-sm">
                  
                  <img src="../../../assets/imagenes/mayoromenor.png" style="width: 315px; height: 230px;">
      
                  <div class="card-body">
                    <p class="card-text">Mayor o menor</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary" [routerLink]="['mayor-menor']" >Ir </button>
                        <button type="button" class="btn btn-sm btn-outline-secondary"></button>
                      </div>
                      <small class="text-muted"></small>
                    </div>
                  </div>
                </div>
              </div>
             
             
              <!--    --------------       Preguntados  ---------------     -->
              <div class="col">
                <div class="card shadow-sm">
                  <img src="../../../assets/imagenes/preguntados.jfif" style="width: 315px; height: 230px;">
      
                  <div class="card-body">
                    <p class="card-text">Preguntados</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary"  [routerLink]="['preguntados']" >Ir</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary"></button>
                      </div>
                      <small class="text-muted"></small>
                      
                    </div>
                  </div>
                </div>
              </div>

              
  
  
               <!--    --------------       OTROS  ---------------     -->
      
              <div class="col">
                <div class="card shadow-sm">
                  <img src="../../../assets/audioPerceptiva.jpg" style="width: 315px; height: 230px;">
      
                  <div class="card-body">
                    <p class="card-text">Juego audio Perceptiva</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button"    class="btn btn-sm btn-outline-secondary"    [routerLink]="['juego-audioperceptiva']" >Ir</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary"></button>
                      </div>
                      <small class="text-muted"></small>
                    </div>
                  </div>
                </div>
              </div>
              
              
               <!--    --------------       OTRO  ---------------     -->
  
              <div class="col">
                <div class="card shadow-sm">
                  <img src="../../../assets/xbox.png">
      
                  <div class="card-body">
                    <p class="card-text">Otros Juegos</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">Ir</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Como se juega</button>
                      </div>
                      <small class="text-muted">9 mins</small>
                    </div>
                  </div>
                </div>
              </div>
             
             
             
              <!--    --------------       OTRO  ---------------     -->
             
              <div class="col">
                <div class="card shadow-sm">
                  <img src="../../../assets/xbox.png">
                  <div class="card-body">
                    <p class="card-text">Otros Juegos</p>
                    <div class="d-flex justify-content-between align-items-center">
                      <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">Ir</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                      </div>
                      <small class="text-muted">9 mins</small>
                    </div>
                  </div>
                </div>
              </div>
  
            </div>
          </div>
        </div>
      
      
     
     
      
      
          <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
      
            
        </body>