.btn-space {
   
   margin-top: 0.2rem;
    margin-right: 0.8rem;
    margin-left: 0.5rem;
}

.navbar-custom {
    background-color: rgb(16, 112, 16);
}



.tam-letra{

    font-size:1.1rem;
}

.letra-registro{
   color: azure;
}

.imagen{

     size: 60px;
    width: 60px;
   
   
}

.div-botones{
   
    margin-left:60rem;

}

.txt-bienvenido{

 color: rgb(10, 146, 60);
 text-decoration:solid;

}
