

<nav class="navbar navbar-expand-md navbar-dark bg-dark   mb-4 tam-letra">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li><a  class="nav-link px-2 text-white" > <img class="imagen" src="../assets/xbox.png"  ></a></li>
         
          <li class="nav-item">

         <!---->  <a class="nav-link active"  aria-current="page"   *ngIf="this.usuario.logged" [routerLink]="['/home']" >Home</a> 
      <!-- <a class="nav-link active" aria-current="page" [routerLink]="['']">Home</a>  -->
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/quiensoy']" >Quien Soy</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page"  *ngIf="this.usuario.logged" [routerLink]="['/chat']" >Chat</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page"  *ngIf="this.usuario.logged" [routerLink]="['/puntajes']" >Puntajes</a>
          </li>
       
          <li class="nav-item">
            <a class="nav-link active" aria-current="page"  *ngIf="this.usuario.logged" [routerLink]="['/encuesta']" >Encuesta</a>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page"  *ngIf="this.usuario.logged" [routerLink]="['/encuesta-admin']" >Encuestas(admin)</a>
          </li>
      
      
          
          <!--
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['/juegos']" >Juegos</a>

          </li>

          -->

          <!-- Boton Login-->
        
          <li class="nav-item div-botones">
           
            <button type="button" class="btn btn-success btn-space"   *ngIf="!this.usuario.logged" [routerLink]="['/login']"> Login</button>
          </li>

          <li class="nav-item">
          
          
          <button type="button" class="btn btn-info btn-space letra-registro" *ngIf="!this.usuario.logged"  [routerLink]="['/registro']"> Registro</button>
          </li>

          <li class="nav-item ">
          <a class="text txt-bienvenido" *ngIf="this.usuario.logged?.email">Bienvenido, {{this.usuario.logged.email}}</a>
        </li>
        
        
       
        
        
          <li class="nav-item">
          
          
            <button type="button" class="btn btn-info btn-space letra-registro" *ngIf="this.usuario.logged"   (click)="Logout()"> Logout</button>
            </li>
        

        
         
          
        </ul>
       <!-- <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form> -->
      </div>
    </div>
  </nav>
  

<router-outlet></router-outlet>
