
 <!-- segundo Container -->
  <div id ="quien" class="container-fluid bg-1 text-center">
      
    <div class="col d-flex justify-content-center">
     <div class="card bg-light" style="width: 24rem;">
     <img src="../../../assets/imagenes/maradona.jpg" class="card-img-top rounded" alt="person">
     <div class="card-body">
        
         <h4>Federico Aner </h4>
         
         <p>Actualmente estoy estudiando en la Tecnicatura en Programación de la UTN-FRA</p>        
     </div>
   </div>
   </div>

 </div>
 
 <!-- segundo Container -->
 
 
 <div id ="sobrejuego" class="container-fluid bg-2 text-center">
  <div class="col-12 col-md-4 offset-md-4">
  <div class="card-body">
   <h3 class="margin">Sobre mi juego</h3>
   <hr>
   <p > Es un juego de practica y desarrollo de audio-perceptiva. 
    Primero se ofreceran botones con ejemplos de audio, una vez escuchados 
    se tendra que identificar que tipo de acorde o cadencia se escucha en cada fase del juego
    en caso de acertar se pasara al siguente nivel. <br>
     
    Primer Nivel: acordes mayores - menores - disminudos <br>
    Segundo Nivel: cadencias de 2 acordes <br>
    Tercer Nivel : cadencias de 3 acordes </p>

     <hr>

    </div>
  
  </div>
  <div>










