
 <!-- segundo Container -->
  <div id ="quien" class="container-fluid bg-1 text-center">
      
    <div class="col d-flex justify-content-center">
     <div class="card bg-light" style="width: 24rem;">
     <img src="../../../assets/imagenes/maradona.jpg" class="card-img-top rounded" alt="person">
     <div class="card-body">
        
         <h4>Federico Aner </h4>
         
         <p>Actualmente estoy estudiando en la Tecnicatura en Programación de la UTN-FRA</p>        
     </div>
   </div>
   </div>

 </div>
 
 <!-- segundo Container -->
 <div id ="sobrejuego" class="container-fluid bg-2 text-center">
   
   <h3 class="margin">Sobre mi juego</h3>
   <hr>
   <p> a definir funcionamiento del juego </p>

     <hr>
  
  </div>










