
<div class="table-wrapper col-md-6 order-md-2 mb-6" >
    <table class="fl-table">
        <thead>
            <th>NOMBRE</th>
            <th>APELLIDO</th>
            <th>EDAD</th>
            <th>TELEFONO</th>
            <th>OPINION DE LA APP</th>
            <th>JUEGO FAVORITO</th>

            <th>COMENTARIO</th>

            
            
           
            
        </thead>
        <tbody>
        <tr *ngFor="let encuesta of this.listadoEncuestas | async ">
        <td>{{encuesta.nombre}}</td>
        <td>{{encuesta.apellido}}</td>
        <td>{{encuesta.edad}}</td>
        <td>{{encuesta.telefono}}</td>
        <td>{{encuesta.calificacion}}</td>
        <td>{{encuesta.favorito}}</td>
        <td>{{encuesta.comentario}}</td>
      
     
       
        </tr>
        </tbody>
        </table>
    </div>